h1{
    color:antiquewhite;
    background-image: url(https://gifdb.com/images/high/naruto-fire-rasengan-vq0j2diwfw4mv5kq.gif);
    padding-top: 14px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Playfair', serif;
    font-size: 60px;
    background-repeat:no-repeat;
    background-position: center;
    }
    h2{
        background-image: url();
        background-repeat: no-repeat;
        
    }
    body{
        background-color: gray;
        background-repeat:no-repeat;
        background-image: url(https://gifdb.com/images/high/kakashi-hatake-sharingan-stopping-sharp-object-naruto-28has8iwiarnmd2i.gif);
        background-position: center;

    }
    #kakashi{
        background-image: url(../imagens/kakashi.jpg);
        border-radius: 50%;
        background-size: 100px;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Playfair', serif;
        color:antiquewhite;
    }